<!-- This file basically creates the input form, renders objects in backend so the website can render a form -->
{% extends "base.html" %}

{% block content %}
  <div class="well">
    <form class="form" action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.origin.label }}
        {{ form.origin(size=24) }}
        {% for error in form.origin.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
          {{ form.destination.label }}
          {{ form.destination(size=24) }}
          {% for error in form.destination.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
        {{ form.interest.label }}
        {{ form.interest(size=32) }}
        {% for error in form.interest.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.trip_duration.label }}
        {{ form.trip_duration(size=24) }}
        {% for error in form.trip_duration.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      <p>
        {{ form.travel_mode.label }}
        {{ form.travel_mode(size=32) }}
        {% for error in form.travel_mode.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.return_to_start.label }}
            {{ form.return_to_start() }}
          </p>
          <div class="control-group">
              <div class="controls">
                  <button class="btn btn-primary" type="submit">Start exploring!</button>
              </div>
          </div>
      </form>
    </div>
{% endblock %}
